.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

form {
  margin: 20px;
}

input, select, button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.court-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.court-info {
  flex: 1;
}

.court-image-small {
  width: 150px; /* Adjust this to make the image smaller */
  height: auto;
  border-radius: 8px;
  margin-left: 20px;
}
